streamlit==1.34.0
python-dotenv==1.0.1
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
sentence-transformers
huggingface-hub
transformers
tokenizers
faiss-cpu
youtube-transcript-api>=1.0.0
yt-dlp
requests==2.31.0
pypdf
docx2txt
beautifulsoup4
lxml
